body {
    background-color: rgb(248, 252, 252);
    color: crimson;
    
}

.container {
    width: 700px;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center; 
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.col-12 {
    margin-left: 100px;
}

h4 {
    margin-left: 100px;
}